body {
}

.bcolor {
    background-color: #cae8ca;

}
.icon{
    display:flex;
    justify-content:flex-end;
}
.text-primary {
   
}

.footer {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-between;
    
}
.b {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 300px;
    height: 300px;
    padding-top: 3rem;
    paddding-bottom: 3rem;
    padding-right: 2rem;
    padding-left: 2rem;
    font-size:15px;
}
.iconbg{
   color:gray;
}

a:hover {
    color: darkmagenta;
}


.aboutDiv {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content:flex-start;

}

/* Container holding the image and the text */
.imageContainer {
    position: relative;
    padding: 50px;
}

.text-block-left {
    position: absolute;
    top: 50%;
    right: 25%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.4);
    color: white;
    padding: 35px;
}

.text-block-right {
    position: absolute;
    left: 45%;
    top: auto;
    right:5%;
    background: transparent;
    color: white;
    padding: 35px;
}

.text-block-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* Centered text within image */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

    .centered:hover{
        opacity: 1;
    }
/** Dividers for sections and headers */
/* Dashed border */
hr.dashed {
    border-bottom: 2px dashed #bbb;
}

/** Add a Circle on a Header */
.dotHomeHeader {
    height: 80px;
    width: 80px;
    background-color: #cae8ca;
    border-radius: 100%;
    display: inline-block;
    margin-right: 50px;
}

/** Home Page Button custom style*/
.buttonHP:hover {
    background-color: seagreen;
    color: white;
}

/* Responsive text */
/* If the screen size is 1200px wide or more, set the font-size to 80px */
@media (min-width: 1200px) {
    .responsiveText{
        font-size: 80px;
    }
}
/* If the screen size is smaller than 1200px, set the font-size to 80px */
@media (max-width: 1199.98px) {
    .responsiveText {
        font-size: 30px;
    }
}

.forMore:hover{
    text-decoration: underline;
}